.bar-animate {
    height: 30px;
    left: 50%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 30px;
    width: 100%;
    transform: rotate(180deg);
}

.bar {
   background: white;
    bottom: 1px;
    height: var(--bar-width);
    position: absolute;
    width: calc(var(--bar-width) - 5px);      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}

.bar:nth-child(1)  { left: var(--bar-width); animation-duration: 474ms; }
.bar:nth-child(2)  { left: calc(var(--bar-width) * 2); animation-duration: 433ms; }
.bar:nth-child(3)  { left: calc(var(--bar-width) * 3); animation-duration: 407ms; }
.bar:nth-child(4)  { left: calc(var(--bar-width) * 4); animation-duration: 458ms; }
.bar:nth-child(5)  { left: calc(var(--bar-width) * 5); animation-duration: 400ms; }
.bar:nth-child(6)  { left: calc(var(--bar-width) * 6); animation-duration: 427ms; }
.bar:nth-child(7)  { left: calc(var(--bar-width) * 7); animation-duration: 441ms; }
.bar:nth-child(8)  { left: calc(var(--bar-width) * 8); animation-duration: 419ms; }
.bar:nth-child(9)  { left: calc(var(--bar-width) * 9); animation-duration: 487ms; }
.bar:nth-child(10) { left: calc(var(--bar-width) * 10); animation-duration: 442ms; }​
.bar:nth-child(11) { left: calc(var(--bar-width) * 11); animation-duration: 458ms; }​
.bar:nth-child(12) { left: calc(var(--bar-width) * 12); animation-duration: 427ms; }​
.bar:nth-child(13) { left: calc(var(--bar-width) * 13); animation-duration: 442ms; }​
.bar:nth-child(14) { left: calc(var(--bar-width) * 14); animation-duration: 400ms; }​
.bar:nth-child(15) { left: calc(var(--bar-width) * 15); animation-duration: 419ms; }​
.bar:nth-child(16) { left: calc(var(--bar-width) * 16); animation-duration: 441ms; }​
.bar:nth-child(17) { left: calc(var(--bar-width) * 17); animation-duration: 442ms; }​
.bar:nth-child(18) { left: calc(var(--bar-width) * 18); animation-duration: 407ms; }​

@-webkit-keyframes click {
	0% { -webkit-transform: translate(0, 0) rotate(0deg); }
	
	70% { -webkit-transform: translate(-10px, -10px) rotate(-5deg); }
	100% { -webkit-transform: translate(0,0) rotate(0deg); }
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: var(--black); 
    padding-left: 100%;
    box-sizing: content-box;
    text-shadow: 0 0 2px white;
    font-size: 1rem;
    font-family: 'Questrial', sans-serif;

}

.ticker {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
}
.ticker__item {
    display: inline-block;
    color: white;
    margin: 0 2rem;
}
.ticker__item:nth-of-type(1) {
    color: var(--light-purple);
}
.ticker__item:nth-of-type(2) {
    color: var(--light-pink);
}
.ticker__item:nth-of-type() {
    color: var(--light-teal);
}



/* Reset */

* {
    box-sizing: border-box;
    max-width: 100%;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
}

html,
body {
    --off-white: #fffbea;
    --pink: #FF5D73;
    --light-pink: #f6adcd;
    --light-blue: #8fd4f5;
    --black: #272727;
    --bar-width: 30px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    background-color: white;
    color: var(--black);
    overflow-x: hidden;
    position: relative;
}

.visibly-hidden {
    text-indent: -9999px;
    color: transparent;
    font-size: 0;
    margin: 0;
}

h1,
h2, .h2,
h3,
h4,
h5 {
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    color: inherit;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    font-size: 7vw;
    line-height: normal;

    position: relative;
}

h2, .h2 {
    font-size: 5vw;
    line-height: normal;

    position: relative;
}

h3 {
    font-size: 4vw;
    position: relative;
}

h4 {
    font-size: 3vw;
}

.big {
    display: block;
}

.subheader {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80%;
}

strong {
    font-weight: 700;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    transition: .4s;
}

a:hover,
a:focus {
    color: var(--black);
}

blockquote {
    margin-top: 2em;
    font-style: italic;
    text-align: left;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav {
    width: 100%;
    clear: both;
    position: relative;
}

ul#menu li a {
    width: 100%;
    display: block;
    padding: 0.25em 1em 0 1em;
    transition: background 0.2s;
    text-decoration: none;
    position: relative;
    line-height: 1.5em;
    color: white;
}
ul#menu li a:hover,
ul#menu li a:focus {
    color: var(--pink);
    background-color: rgba( 255, 255, 255, 0.8);
    box-shadow: 0 0 10px#FFF;
}

.nav ul#menu {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.social-icon .inner {
    top: 0;
    text-decoration: none;
    max-width: 100%;
    height: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon:hover .inner,
.social-icon:focus .inner {
    opacity: 1;
}

.social-icon .inner {
    height: 100%;
    width: 100%;
}

.social-icon img {
    position: relative;
    display: block;
    max-height: 80%;;
}

#promo-modal {

}

#promo-banner {
    background: black;
}



/* ----------------------------------------------
 * Generated by Animista on 2019-12-25 13:0:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    15% {
      -webkit-transform: rotate(-6deg);
              transform: rotate(-6deg);
    }
    30% {
      -webkit-transform:  rotate(6deg);
              transform:  rotate(6deg);
    }
    45% {
      -webkit-transform:  rotate(-3.6deg);
              transform: rotate(-3.6deg);
    }
    60% {
      -webkit-transform:  rotate(2.4deg);
              transform:  rotate(2.4deg);
    }
    75% {
      -webkit-transform:  rotate(-1.2deg);
              transform:  rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    15% {
      -webkit-transform: rotate(-6deg);
              transform: rotate(-6deg);
    }
    30% {
      -webkit-transform:  rotate(6deg);
              transform:  rotate(6deg);
    }
    45% {
      -webkit-transform:  rotate(-3.6deg);
              transform: rotate(-3.6deg);
    }
    60% {
      -webkit-transform:  rotate(2.4deg);
              transform:  rotate(2.4deg);
    }
    75% {
      -webkit-transform:  rotate(-1.2deg);
              transform:  rotate(-1.2deg);
    }
  }
  

  .icon {
    position: absolute;
    margin: 0 auto;
    max-width: 100%;
    width: 150px;
    max-height: 150px;
    z-index: 5;
    display: none;
}

/* .icon:hover {
    transform-origin: top center;
    -webkit-animation: wobble-hor-bottom 2s infinite both;
	        animation: wobble-hor-bottom 2s infinite both;
} */

#events h2 {
    margin: 0;
}

#events .icon:nth-of-type(1) {
    top: -1rem;
    left: 2vw;
}

#events .icon:nth-of-type(2) {
    top: 100px;
    right: -10px;
}

#events .icon:nth-of-type(3) {
    bottom: 20px;
    left: -20px;
}

#events .icon:nth-of-type(4) {
    bottom: -50px;
    right: 20px;
}

/* Layout */

section {
    position: relative;
}

section>div {
    padding: 1em;
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.one-half {
    flex: 0 1 100%;
    padding: 2em 1em;
    text-align: center;
}

header {
    display: flex;
    width: 100%;
    z-index: 10;
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header .logo {
    width: 150px;
    display: none;
    z-index: 2;
}

header .menu ul li a {
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase
}

.banner {
    background-position: center;
    background-size: cover;
    /* height: 40vw;
    min-height: 200px; */
    
    position: relative;
}

.video-container {
    position: relative;
}

.video-container h1 {
    position: absolute;
    font-size: 5.6vw;
    bottom: 0;
    left: 0;
    margin: 0;
    color: white;
    display: table;
    border: .5vw solid white;
    border-bottom: 0;
    padding: 0 1rem;
}

.banner.video {
    background-color: black;
    /* height: 45vw;
    min-height: 0; */
    background-position: center;
    background-repeat: repeat;
    background-size: 20vw;
    padding: 3rem 0 0 0;
    background-attachment: fixed;
}

.banner video {
    position: absolute;
    width: 112%;
    max-width: 112%;
}


/* footer */

footer {
    padding: 1rem 2rem;
    text-align: right;
    font-size: 0.7em;
    font-weight: normal;
    color: var(--black);
    padding: 2rem 0;
    width: 900px;
    text-align: right;
    margin: 0 auto;
    color: white;
}

 a,
footer a:hover,
footer a:focus {
    color: white;
}

footer p {
    text-align: right;
}


/* Sections */

#contact {
    padding: 0;;
    position: relative;
    color: var(--black);
    display: flex;
    align-items: center;
    border-bottom: .5vw solid white;
}

#contact:after {
    content: "";
    display: block;
    background-image: url('../images/bg/soundwave-up.png');
    background-size: 50%;
    background-position: bottom center;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}



#contact h2 {
    font-size: 5.2vw;
    font-family: 'Pacifico', cursive;
}

#contact ul {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Bebas Neue', cursive;
    margin: 0 0 1.25rem 0;
    font-size: 2vw;
}


#contact ul li a {
    padding: 0 0.25rem;
    border-bottom: 5px solid var(--light-blue);
    border-left: 3px solid var(--light-blue);

}

#contact ul li a:hover,
#contact ul li a:focus {
    border-bottom: 1px solid var(--light-blue);
    border-left: 1px solid var(--light-blue);
    padding: 4px 0.25rem 0 0.25rem;

}

#contact p {
    text-align: left;
}

#contact .chunky {
    position: relative;
}

#contact .chunky {
    position: relative;
    display: inline-block;
    margin: 2rem auto;
}

#contact .icon {
    width: 30px;
    top: 100%;
    left: 100%;
}

#contact a:hover .icon,
#contact a:focus .icon,
#contact .icon:hover {
    -webkit-animation: click 1s infinite both;
	        animation: click 1s infinite both;
}

.form h1 {
font-size: 3rem;
padding-bottom: 25px;
margin-bottom: 30px;
line-height: 1em;
}

.form h1:before {
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 1px dashed #bbb;
    bottom: 0;
    left: 0;

}


.form {
    margin-top: -100px;
}

.blue-text {
    color: var(--light-blue)
}

.pink-text {
    color: var(--light-pink)
}


.slant-up {
    position: absolute;
    height: 100px;
    background: white;
    transform: rotate(25deg);
    width: 150%;
}

#big-nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: calc(150px + 4rem);
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tabs .sticker {
    flex: 0 1 15vw;
    padding: 0;
    padding-right: 1rem;
    text-align: center;
    transition: .4s;
    margin-bottom: -2rem;
}

.tabs .sticker:last-of-type {
    padding: 0;
}

.tabs .sticker:hover,
.tabs .sticker:focus    {
    margin-bottom: -3rem;
}

.tabs .sticker .icon {
    margin-bottom: -20px;
    position: relative;
}
.tabs .sticker .label {
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
    padding: 2rem 4rem 1rem 4rem;
    background-color: white;
    border-radius: 1.5rem;
    /* border: 2px solid white; */
    background-color: white;
}
.tabs .sticker .label a {
    display: block;
}

#social-cta .tabs .sticker {
    margin-bottom: -3rem;
}

#social-cta .tabs .sticker:hover,
#social-cta .tabs .sticker:focus    {
    margin-bottom: -4rem;
}

#social-cta .tabs .sticker .label {
    padding: 0.5rem 1rem;
}

#social-cta .tabs .sticker .label .social-icon{
    line-height: 0;
}

#social-cta .tabs .sticker .label .social-icon img{
    height: 4rem;
    margin: 0 auto;
}



#events {
    display: none;
}

#events > div {
    margin-top: 4vw;
    padding: 0;
}

#events.show {
    display: block;
}

#events h2 {
    text-align: center;
}

#events ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    padding: 0.5rem 0.25rem;
}

#events ul li {
    flex: 1 1 auto;
    position: relative;
    display: none;
    margin: 0 0.25rem;
}

#events ul li.active {
    display: block;

}

#events ul li .wrapper {
    position: relative;
    line-height: 0;
}

#events ul li .show-info {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .4s;
    background-color: rgba( 255, 255, 255, 0.7);
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 5vw;
    line-height: 1em;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#events ul li .show-info > span{
    display: block;
}
#events ul li .show-info a {
    display: inline-block;
    background: var(--black);
    padding: 0.35em 0.5em 0 0.5em;
    color: white;
    line-height: 1em;
}

#events ul li:hover .show-info {
    opacity: 1;
}

#social-cta {
    background-color: #FDB8BB;
    background: linear-gradient(90deg, rgba(255,93,115,1) 0%, rgba(255,224,243,1) 50%, rgba(143,212,245,1) 100%);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    padding: 100px 0.5rem 0.5rem 0.5rem;
   
}

#social-cta .content {
    background-color: white;
    padding: 3rem 1rem 1rem 1rem;
    width: 900px;
    margin: 0 auto;
    text-align: justify;
}

#social-cta .pbh {
    margin-top: 50px;
    width: 20vw;
    position: absolute;
    right: 0;
    top: 0;
}

.bar-animate {
    position: absolute;
    top: 30px;
    left: 0;
    
}

/* #social-cta:after {
    content: "";
    display: block;
    background-image: url('../images/bg/soundwave-down-match.png');
    background-size: 50%;
    background-position: top center;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
} */


#social-cta > .flex-container {
    width: 900px;
    margin: 0 auto;
    justify-content: center;
    align-items: middle;
    padding: 0;
    flex-wrap: no-wrap;
}

#social-cta > .flex-container .social-icon {

    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
    padding: 2rem 4rem 1rem 4rem;
    background-color: white;
    border-radius: 1.5rem;
    /* border: 2px solid white; */
    background-color: white;

    border: 2px solid rgba( 255, 255, 255, 0.7);
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
    flex: 1 1 50px;
    height: 60px;
    align-items: flex-start;
    position: relative;
    display: block;
    background: rgba( 255, 255, 255, 0.7);
}

#social-cta > .flex-container .social-icon:hover,
#social-cta > .flex-container .social-icon:focus {
    background-color: white;
}

.gallery {
    align-items: flex-start;
}
.gallery > div {
    padding: 1rem;
    flex: 1 1 50%;

}

.gallery img {
    border-radius: 3px;
    border: 1px solid #aaa;
}

.merch-banner {
    background-image: url('../images/content/merch.jpeg');
}


@media screen and (min-width: 500px) {
    header.menu .logo {
        display: block;
    }
    
    .icon {
        display: block;
    }
}

@media screen and (min-width: 650px) {
    .flex-container {
        flex-wrap: nowrap;
    }
    .one-half {
        flex: 0 1 50%;
        padding: 2em 1em 2em 2em;
    }
}